<td><%= product.name %></td>
<td><%= product.category %></td>
<td><%= product.formatted_price %></td>
<td><%= product.stock %></td>
<td><a href='cart/update/<%= product.id %>' class='add_product'>Add to cart</a></td>