<html>
  <head>
    <title>EStore</title>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    
    <header>
      <%= erb :_navbar %>
      <%= erb :_messages %>
    </header>

    <main>
    
      <section class='container'>
        <%= yield %>
      </section>

      <aside class='cart'>
        <%= erb :_shopping_cart %>
      </aside>

      <aside class='vouchers hidden'>
        <%= erb :_vouchers %>
      </aside>
      
    </main>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/javascripts/application.js"></script>

  </body>
</html>